/* General Styling Start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.bg-lightgray{
  background: #F8F9FA !important;
}

.w-20{
  width: 20% !important;
}
.w-30{
  width: 30% !important;
}
.w-40{
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

/* General Styling End */
.bg-lightgray {
  border: none;
  background-color: #eee !important;
}